
		table,td,th{
			border: 1px solid black;
		}
		table{
			width: 1250px;
			margin-left: calc(50% - 625px);
		}
		tr{
			height: 40px;
		}
		th, td{
			text-align: center;
		}
		.table-data{
			width: auto;
			background-color: greenyellow;
			height: auto;
			min-height: 1000px;
			margin-left: auto;
			margin-right: auto;
		}
		h1, h2{
			text-align: center;
			font-family: arial;
			padding-top: 20px;
		}
		#add-btn{
			background-color: black;
			width: 130px;
			height: 30px;
			border-radius: 5px;
			font-weight: bold;
			text-align: center;
			margin-top: 10px;
			margin-bottom: 20px;
			margin-left: calc(100% - 180px);
		}
		#add-btn a{
			text-decoration: none;
			color: white;
		}
		a{
			color: black;
		}
		/*#model-container{
			width: 100%;
			height: 100%;
			margin: 0;
			padding: 0;
			background: grey;
			position: fixed;
			top: 0;
			left: 0;
			background: rgba(0, 0, 0, .3);
			display: none;
		}
		#model{
			width: 400px;
			height: 600px;
			background: white;
			position: absolute;
			left: calc(50% - 200px);
			top: calc(50% - 300px);
			overflow-x: scroll;
		}
		#close-btn{
			position: relative;
			cursor: pointer;
			float: right;
			right: 20px;
			top: 20px;
		}*/
		.input-text{
			border: 1px solid	grey;
			width: calc(100% - 40px);
			height: 35px;
			border-radius: 10px;
			font-family: arial;
			padding-left: 10px;
			margin-left: 20px;
			margin-bottom: 10px;
			display: flex;
			box-sizing: border-box;
		}
		label, span{
			padding-left: 30px;
		}
		.input-text:focus{
			border: 0;
		}
		/*#update-btn{
			background-color: black;
			width: 100px;
			height: 40px;
			color: whitesmoke;
			border-radius: 5px;
			font-weight: bold;
			text-align: center;
			float: right;
			position: relative;
			right: 20px;
			margin-bottom: 20px;
			margin-top: 10px;
		}*/
		.Input-Select{
			border: 0px;
			border-color: grey;
			width: calc(100% - 40px);
			height: 35px;
			border-radius: 10px;
			font-family: arial;
			margin-left: 20px;
			margin-bottom: 5px;
		}
		i{
			cursor: pointer;
		}
		.table{
			margin-left: auto;
			margin-right: auto;
		}
		.table-hover tbody tr:hover td{
		  background-color: whitesmoke;
		}
		#add-record{
			background-color: #000;
			border-color: #000;
			float: right;
			margin-right: 10px;
			margin-bottom: 10px;
		}
		#add-record a{
			color: white;
			text-decoration: none;
		}
		